@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import '~nprogress/nprogress.css';

:root {
  --background-color: hsl(0, 0%, 15%);
  --color-text-title: #000;
  --color-text-default: #494949;
  --color-input-text: #494949;
  --color-error: #fd6a65;
  --color-primary: #1a73e8;
  --color-border: #e0e0e0;
}

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  color: var(--color-text-default);
}

body,
html {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  justify-content: center;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 27.5rem;
}

.w-100 {
  width: 100% !important;
}

@import '@design/_btn.scss';
@import '@design/_card.scss';
@import '@design/_form.scss';
